<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" ng-app="MedCalcNews">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="Author" content="MedCalc" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	
	<title>MedCalc Newsfeed</title>
	<link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
	
	<!-- header -->
	<header>
		<div id="twitter_follow">
			<a href="https://twitter.com/medcalc" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @medcalc</a>
		</div>
		<span id="tagline">The latest news</span>
		<a href="https://alpha.app.net/medcalc"><img src="logo.png" alt="" /></a>
	</header>
	
	<div id="news" ng-controller="NewsController">
		
		<!-- loader -->
		<div class="parent" ng-hide="didLoad">
			<div id="loader" class="newsitem">
				Loading...
			</div>
		</div>
		
		<!-- news entries -->
		<div class="parent" style="display:none;" ng-show="didLoad">
			<p class="newsitem unread-{{ news.is_new }}" ng-repeat="news in newsitems" ng-click="news.is_new=false">
				<span class="date">{{ news.created_at | date:'mediumDate' }}</span>
				<span class="entry" ng-bind-html-unsafe="news.html"></span>
			</p>
			
			<p class="newsitem">
				<span class="date">Aug 22, 2012</span>
				<span>Older news can be found <a href="https://twitter.com/medcalc">in our Twitter feed</a>.</span>
			</p>
		</div>
	</div>
	
	<!-- scripts -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
	<script src="news.min.js"></script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>
