/**
 *  MedCalc Newsfeed Styles
 *  Created by Pascal Pfiffner, 2012-11-09
 */

$color:         rgb(4,120,136);
$bgcolor:       rgb(4,120,136);
$ondrkcolor:    white; //rgb(129,187,194);
$lightcolor:    rgb(220,220,220);

html, body {
	margin: 0; padding: 0;
	font: 17px/23px -apple-system, "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif; font: -apple-system-body;
	line-height: 1.4;
	background-color: white;
}

a:link, a:active, a:visited {
	color: $color;
	text-decoration: none;
}


// header
header {
	height: 60px;
	padding: 20px 15px;
	clear: right;
	color: $ondrkcolor; background-color: $bgcolor;
	
	#medcalc {
		display: block;
		width: 130px; height: 100px;
		margin-top: -20px;
		background: url('logo.png') top left no-repeat;
		@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5), screen and (min-resolution: 192dpi) {
			background-image: url('logo@2x.png'); background-size: 130px 100px;
		}
		@media screen and (-webkit-min-device-pixel-ratio: 2.5), screen and (min-device-pixel-ratio: 2.5), screen and (min-resolution: 320dpi) {
			background-image: url('logo@3x.png'); background-size: 130px 100px;
		}
	}
}

#tagline {
	clear: right; float: right;
	margin: 4px 1px 0 0;
	font-size: 0.85em; font: -apple-system-footnote;
}


// loader
#loader {
	padding: 30px 15px;
	text-align: center; color: rgba(0,0,0,0.75);
}


// Services
#twitter_follow {
	float: right; width: 144px;
}


// news
#news {
	padding: 0 0 20px;
}

.newsitem {
	margin: 0; padding: 0.85em 15px;
	word-wrap: break-word;
	background: -webkit-linear-gradient($lightcolor, $lightcolor 50%, transparent 50%) top right / 100% 1px no-repeat;
	background: linear-gradient($lightcolor, $lightcolor 50%, transparent 50%) top right / 100% 1px no-repeat;
	-webkit-tap-highlight-color: transparent;
	
	&:first-child {
		background: none;
	}
	
	.date {
		float: right;
		margin: 0 0 0.5em 0.75em;
		font-size: 0.85em; font: -apple-system-footnote; color: rgba(0,0,0,0.6);
	}
	
	&.unread-true {
		.date {
			color: rgb(64, 160, 201);
		}
	}
}
